
@{
    ViewBag.Title = "Política de Privacidad";
}

<p>Mario, Leal Fuetes ARGENTINA valora la privacidad de las personas que visitan este Sitio operado por Mario, Leal Fuetes ARGENTINA. Esta declaración incluye importante información que debe ser conocida por las personas que visitan el Sitio respecto de la forma en que Mario, Leal Fuetes ARGENTINA recopila y utiliza información personal de los visitantes del Sitio.</p>
<p>En la presente Política de Privacidad, el término "Mario, Leal Fuetes ARGENTINA" se refiere a Mario, Leal Fuetes ARGENTINA S.A.</p>
<p>Sírvase leer esta política cuidadosamente. Al visitar este Sitio y utilizar los servicios que allí se brindan, Ud. manifiesta su consentimiento a la utilización por parte de Mario, Leal Fuetes ARGENTINA de sus datos personales que obran en esta Política.</p>
<p>Alcances de esta Política</p>
<p>Esta Política de Privacidad resulta aplicable al Sitio y a la información recopilada a través del mismo. No es aplicable a ningún otro servicio u operaciones de Mario, Leal Fuetes ARGENTINA con usuarios o clientes.</p>
<p>Recopilación de Información</p>
<p>El Sitio de Mario, Leal Fuetes ARGENTINA recopila información de identificación personal solamente de aquellas personas que voluntariamente optan por brindar dicha información a través del sitio web (Se hace referencia en esta Política a dicha información como la "Información Personal"). La recopilación de Información Personal se llevará a cabo a través de la información y documentación que se le solicita ingresar en el Sitio, al cual Ud. ingresará mediante un nombre de usuario y una contraseña que Mario, Leal Fuetes ARGENTINA le proporcionará (ver Términos y Condiciones de Uso). Puede solicitarse a los visitantes del sitio que indiquen su nombre, ubicación geográfica y determinada información respecto de sus negocios u ocupaciones o algún otro dato que resulte de interés para el sitio. </p>
<p>En forma periódica, nuestro Sitio podrá solicitar información adicional a Ud. mediante encuestas. La participación en dichas encuestas es completamente voluntaria y, por ende, el usuario tiene la opción de brindar o no cualquier información adicional que pudiera serle solicitada. </p>
<p>Además de la Información Personal anterior, cada sitio registra información sobre el visitante procedente del navegador utilizado para acceder al sitio (por ejemplo, Internet Explorer, etc.). Ello incluye información sobre la dirección IP del visitante, las páginas del sitio que son visitadas desde dicha dirección y el sitio web que fue visitado por el usuario inmediatamente antes del Sitio. Esta Información será utilizada por Mario, Leal Fuetes ARGENTINA para diagnosticar problemas con sus servidores web, para administrar, diseñar y construir sus sitios web, rastrear los movimientos del visitante en dichos sitios y recopilar extensa información demográfica para uso global exclusivamente.</p>
<p>Cookies</p>
<p>Un cookie es un pequeño archivo de datos que el sitio web pasa al disco duro del visitante una vez que dicho sitio ha sido visitado. El archivo cookie contiene información que permite identificar a un visitante que regresa cada vez que éste visita un sitio. Los datos son encriptados para mayor seguridad. Es posible que el Sitio utilice cookies como un modo de medir los parámetros de actividad y tráfico en el sitio a los fines de mejorar continuamente la experiencia del visitante. Las cookies brindan a los visitantes la facilidad de no tener que ingresar más de una vez una contraseña en el Sitio.</p>
<p>Puede configurarse un navegador de modo tal que avise a los usuarios antes de aceptar las cookies. Los usuarios pueden optar por rechazar las cookies quitándolas del navegador. No es necesario que los usuarios tengan las cookies activadas para visitar este Sitio, aunque pueden llegar a necesitarlas para hacer uso de ciertas características del Sitio.</p>
<p>Aunque tomamos todas las medidas razonables para proteger la privacidad de los visitantes de nuestro Sitio web, no podemos garantizar que las limitaciones actuales de la programación de nuestras aplicaciones en línea se ajusten a todas las configuraciones de los navegadores o cumplan con todas las preferencias personales sobre navegadores. </p>
<p>Uso de su Información Personal por Mario, Leal Fuetes ARGENTINA</p>
<p>Su Información Personal podrá ser utilizada para comunicarnos con usted respecto del uso de nuestro Sitio, hacerle saber de eventuales cambios. Específicamente:</p>
<ul>
    <li>La Información del Usuario puede ser utilizada por Mario, Leal Fuetes ARGENTINA principalmente para incrementar la posibilidad de uso y capacidad de respuesta del Sitio, garantizando así que la información sea oportuna y relevante y satisfaga las necesidades de nuestros visitantes. Mario, Leal Fuetes ARGENTINA podrá también utilizar la información que los visitantes ofrezcan en forma voluntaria a través de este sitio para brindar información y material de promoción a las personas que han visitado el Sitio.</li>
    <li>La Información sobre Procedimiento será utilizada por Mario, Leal Fuetes ARGENTINA para procesar y llevar a cabo el procedimiento previsto en Términos y Condiciones de Uso.</li>
    <li>La Información de Encuesta será utilizada de modo similar a la Información del Usuario, aún cuando fundamentalmente será utilizada en forma global para brindar a Mario, Leal Fuetes ARGENTINA información sobre necesidades de los potenciales clientes interesados en las soluciones comerciales de Mario, Leal Fuetes ARGENTINA, entre otros.</li>
</ul>
<p>Asimismo, debe saber que tanto su Información Personal como la Información de Visita recopiladas en un sitio de Mario, Leal Fuetes ARGENTINA pueden ser utilizadas por personal de seguridad de Mario, Leal Fuetes ARGENTINA en caso que lo considerara necesario para proteger a Mario, Leal Fuetes ARGENTINA de una amenaza u otro riesgo percibido contra la seguridad, pudiendo dicha información ser compartida con las autoridades de aplicación de la ley, de corresponder.</p>
<p>Posibilidad de compartir y revelar información</p>
<p>Mario, Leal Fuetes ARGENTINA podrá compartir la Información Personal con terceros para determinados fines:</p>
<ul>
    <li>Podemos brindar información de contacto a nuestros socios comerciales, anunciantes y demás interesados para que puedan comunicarse directamente con usted para brindarle información acerca de sus productos y servicios. </li>
    <li>Podemos asimismo compartir Información Personal respecto de los visitantes a nuestros sitios web entre sus afiliadas y subsidiarias para fines vinculados a las actividades comerciales de dichas afiliadas y subsidiarias.</li>
</ul>
<p>Mario, Leal Fuentes podrá también compartir Información Personal con terceros relacionada con los visitantes de sitios web, en los siguientes casos:</p>
<ul>
    <li>Cuando se hubiera prestado consentimiento respecto de la divulgación de dicha información;</li>
    <li>Para dar cumplimiento a leyes, resoluciones judiciales, citaciones o procesos legítimos;</li>
    <li>Para hacer cumplir o aplicar los acuerdos de Mario, Leal Fuetes ARGENTINA o brindar protección a Mario, Leal Fuetes ARGENTINA y a sus derechos;</li>
    <li>De pleno derecho, cuando dicha Información Personal sea transferida como parte de la venta de activos incluyendo los activos representados por este Sitio; o</li>
    <li>En el supuesto que Mario, Leal Fuetes ARGENTINA, o una parte significativa de sus activos, fueran adquiridos fuera del giro habitual de los negocios, y dicha Información Personal formara parte de los activos transferidos.</li>
</ul>
<p>Transferencias de Información</p>
<p>Debido a que Mario, Leal Fuetes tiene filiales en varios países del mundo, es posible que la Información Personal sobre visitantes al Sitio pueda ser transferida de un país a otro, incluyendo cualquier país que no tenga las mismas garantías de protección de datos que la Argentina. Dichas transferencias ocurrirán solamente en concordancia con la ley aplicable en el territorio origen de dicha información.</p>
<p>Cuando usted ingresa Información Personal al Sitio, se asumirá también está dando su consentimiento sobre la transferencia de dicha información fuera de su país.</p>
<p>Niños y Privacidad</p>
<p>Mario, Leal Fuetes ARGENTINA no recopila a sabiendas información de o acerca de niños de 18 años o menos sin el consentimiento de uno de los padres o tutor legal.</p>
<p>Acceso, Rectificación, Corrección/Actualización y Supresión de Información Personal</p>
<p>El Sitio que recopila Información Personal brindará a los usuarios instrucciones respecto de la posibilidad de su derecho de acceso, rectificación, corrección, actualización y supresión de dicha Información Personal; en general, las solicitudes del usuario de acceso, rectificación, actualización y supresión de la Información Personal se cumplimentan dentro de un plazo razonable luego de ser recibida por nosotros. No obstante ello, no podrán introducirse cambios en la información personal cuando dicho cambio diera lugar a una información incorrecta o alterara una operación ya concretada con nuestra empresa.</p>
<p>Retención de Información Personal</p>
<p>Mario, Leal Fuetes ARGENTINA destruirá en forma periódica la Información Personal recopilada de nuestros visitantes en su Sitio en caso que la misma no fuera necesaria para ningún fin para el cual pudiera utilizarse o proporcionarse dicha información de conformidad con los términos de esta Política.</p>
<p>Seguridad</p>
<p>Mario, Leal Fuetes ARGENTINA toma medidas de precaución para proteger la información de los usuarios, que incluyen medios técnicos y políticas y procedimientos que nuestro personal está capacitado para utilizar. Dichas protecciones también se aplicarán en cualquier circunstancia en que el Sitio sea hospedado por un tercero. Si recibe una contraseña como usuario registrado, deberá mantenerla en secreto ya que es la clave para acceder a la información que Mario, Leal Fuetes ARGENTINA tiene sobre usted. Si usted deja ejecutando el navegador de internet de su computadora y un tercero hace uso de la misma, podrá tener acceso a su cuenta, por ello, si su computadora no es físicamente segura, recuerde apagar el navegador antes de irse.</p>
<p>Tratamos de disminuir la posibilidad de informaciones accidentales y el acceso y modificación no intencional de información sobre la cuenta, aunque es imposible eliminar dicha posibilidad en forma definitiva.</p>
<p>Protección de su propia privacidad</p>
<p>Recuerde que toda vez que revele voluntariamente información personal en línea –por ejemplo en tableros de mensajes, a través de e-mail o en salones de chat- dicha información puede ser recopilada y utilizada por otras personas. En definitiva, usted es el único responsable de mantener la reserva de sus contraseñas y/o cualquier información de cuenta.</p>
<p>Cambios en la política</p>
<p>Si Mario, Leal Fuetes ARGENTINA decide modificar sus políticas y prácticas de privacidad, daremos a conocer dichos cambios en nuestra Política de Privacidad en nuestro sitio web antes que los mismos cobren vigencia de modo que nuestros usuarios tengan conocimiento en todo momento de la información que recopilamos, cómo la utilizamos, y bajo qué circunstancias, si las hubiera, la revelamos. Si en algún momento decidimos utilizar información de identificación personal en una forma diferente a la indicada en el momento en que fuera recolectada, cursaremos notificación de ello a los usuarios. Los usuarios tendrán la opción de que usemos o no su información en esta forma. Continuaremos usando la información de conformidad con la Política de Privacidad en virtud de la cual se ha recolectado la información.</p>
<p>En Argentina el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. “La DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.</p>
<p>Mario, Leal Fuetes ARGENTINA da y dará cumplimiento a los presente términos en consonancia con la normativa argentina vigente.</p>
<p>Política actualizada el 19 de septiembre de 2018.</p>
@section scripts {
    <script>
    $(document).ready(function () {
        $("#link-volver-h").show();
        $("#link-volver-f").show();
    });
    </script>
}


